/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
	font-family: "Barlow";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"),
		url("../fonts/barlow-v5-latin-regular.woff") format("woff");
}
@font-face {
	font-family: "Barlow";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/barlow-v5-latin-700.woff2") format("woff2"),
		url("../fonts/barlow-v5-latin-700.woff") format("woff");
}
@font-face {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/fraunces-v10-latin-regular.woff2") format("woff2"),
		url("../fonts/fraunces-v10-latin-regular.woff") format("woff");
}
@font-face {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
		url("../fonts/fraunces-v10-latin-900.woff") format("woff");
}

img {
	vertical-align: middle;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Barlow", "sans-serif";
	font-weight: bold;
}

li {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.site__header {
	margin-bottom: 44px;
}

.container {
	width: 1420px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
}

.site__header--info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__link {
	margin-right: auto;
}

.header__logo {
	margin-top: 44px;
}

.nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav__item {
	padding-left: 33px;
	margin-top: 50px;
}

.nav__item--top {
	padding-left: 33px;
	margin-top: 2px;
	margin-left: 32px;
}

.nav__item--tops {
	padding-left: 33px;
	margin-top: 2px;
	margin-left: 103px;
}

.nav__link {
	text-decoration: none;
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	color: #83888f;
	letter-spacing: 0.923077px;
	text-transform: uppercase;
}

.nav__link:hover {
	color: #333d4b;
}

.site__main {
	margin-bottom: 136px;
}

.main__sublist {
	width: 1390px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
	background-image: url("../images/Bitmap.png");
	background-repeat: no-repeat;
	background-size: 1390px, 700px;
	border-radius: 10px;
}

.main--container {
	width: 1390px;
	height: 600px;
}

.main__list {
	width: 1280px;
	padding-top: 100px;
	padding-left: 86px;
}

.main__list--info {
	width: 493px;
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 72px;
	margin: 0;
	color: #fefcf7;
}

.main__list--text {
	width: 445px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	opacity: 0.8;
	margin-top: 32px;
	margin-bottom: 56px;
	color: #fefcf7;
}

.main__list--link {
	color: #fefcf7;
	background: #66d2cf;
	border-radius: 6px;
	padding: 16px 31px;
	text-decoration: none;
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 25px;
}

.main__list--link:hover {
	background-color: #e2dedb;
}

.main__collection {
	margin-bottom: 200px;
}

.collection__container {
	width: 1182px;
}

.collection {
	background-image: url("../images/Group14.png");
	background-repeat: no-repeat;
	background-size: 1182px, 196px;
	background-position: 260px -70px;
}

.collection__suplist {
	width: 1182px;
}

.collection__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.collection__item {
	width: 255px;
	padding-top: 73px;
	margin-left: 30px;
}

.collection__item--info {
	width: 255px;
	padding-top: 73px;
	margin-right: 30px;
}

.collection__info {
	width: 255px;
	height: 134px;
	text-align: center;
}

.collection__hero {
	height: 32px;
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
}

.collection__text {
	font-family: "Barlow";
	font-weight: normal;
	color: #333d4b;
	font-size: 16px;
	line-height: 26px;
	font-size: 16px;
	line-height: 26px;
}

.about__section {
	width: 1280px;
	height: 577px;
	background-color: #2c343e;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 200px;
}

.about__coffee--container {
	width: 1280px;
}

.about__coffee {
	width: 540px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
	margin-bottom: 86px;
}

.coffee__title {
	width: 329px;
	margin: 0 auto;
	font-family: "Fraunces";
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	color: #fefcf7;
}

.coffee__text {
	font-family: "Barlow";
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	opacity: 0.8;
	color: #fefcf7;
}

.our__service {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.about__service {
	width: 350px;
	border-radius: 8px;
	margin-left: 30px;
	background: #0e8784;
}

.service__info {
	width: 255px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 48px;
}

.about__image {
	padding: 72px 143px 56px 135px;
}

.service__title {
	font-family: "Fraunces";
	font-weight: 900;
	font-size: 24px;
	line-height: 32px;
	color: #fefcf7;
}

.service__text {
	font-family: "Barlow";
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #fefcf7;
}

.elements {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 791px;
	height: 2px;
	background-color: #fdd6ba;
	margin-bottom: 67px;
}

.circle {
	width: 31px;
	display: inline-block;
	height: 31px;
	background: #fefcf7;
	border: 2px solid #0e8784;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.works {
	margin-top: 200px;
	margin-bottom: 200px;
}

.works__container {
	width: 1045px;
	padding: 0;
}

.works__sublist {
	margin-top: 300px;
}

.works__title {
	font-family: "Fraunces", sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #83888f;
	margin-bottom: 80px;
}

.works__list {
	width: 1045px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.works__item {
	width: 285px;
}

.works__number {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 72px;
	color: #fdd6ba;
}

.works__info {
	width: 255px;
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 36px;
	color: #333d4b;
}

.works__text {
	font-family: "Barlow";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #333d4b;
}

.works__link--info {
	margin-top: 60px;
}

.works__link {
	font-family: "Fraunces";
	font-weight: 900;
	font-size: 18px;
	padding: 16px 31px;
	border-radius: 6px;
	line-height: 25px;
	text-align: center;
	color: #fefcf7;
	background: #0e8784;
	text-decoration: none;
}

.works__link:hover {
	background: #66d2cf;
	border-radius: 6px;
}

.works__link:active {
	background: #66d2cf;
	border-radius: 6px;
}

.footer__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #2c343e;
}

.footer__container {
	margin: 0 auto;
}

.footer__links {
	padding: 48px 0px;
	margin-left: auto;
	margin-right: 80px;
}

.footer__link {
	margin-left: 24px;
	margin-right: 24px;
}

.footer__link:hover{
	background-color: #FDD6BA;
}

.footer__link:active{
	background-color: #FDD6BA;
}

.footer__logo{
	margin-left: 85px;
}
